h1{

    color: red;
}
/* Color Property */
h2{
color: blueviolet;

}
/* Background Color Property */
h1{
    background-color: pink;
}
/* Color System */
h2{
    color:rgb(red, green, blue)

}
h1{
    color: #ff0000;
}
/* text decoration */
h3{
    text-decoration: overline;
}
/* text Properties */
h3
{
    font-weight: lighter;
    font-weight: 100-900;
    font-family: arial;
    font-family: arial,roboto;
}
/* div height */
div{
    height: 50px;
}