ul li {
  list-style: none;
  padding: 10px 20px;
  margin: 5px 0;
  background: lightgray;
  transition: 0.3s;
  cursor: pointer;
}

ul li:hover {
  background: dodgerblue;
  color: white;
  transform: scale(1.05);
}